POSTGRESQL_HOST=postgres # !!! dont change this if you use docker-compose
POSTGRESQL_PORT=5432 # !!! dont change this if you use docker-compose
POSTGRE_USER=your_username
POSTGRES_PASSWORD='str0ngP@ssw0rd!123'
POSTGRES_DB=your_database_name

REDIS_HOST=redis # !!! dont change this if you use docker-compose
REDIS_PORT=6379 # !!! dont change this if you use docker-compose

MINIO_HOST=minio # !!! dont change this if you use docker-compose
MINIO_PORT=9000 # !!! dont change this if you use docker-compose
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD='str0ngP@ssw0rd!123'

TS_HOST=testing_system # !!! dont change this if you use docker-compose
TS_PORT=8001 # !!! dont change this if you use docker-compose
TS_DEBUG=0
TS_TIMEOUT=2
TS_WORKERS=4

CELERY_BROKER_DATABASE=1

BACKEND_HOST="0.0.0.0" # !!! dont change this if you use docker-compose
BACKEND_PORT=8000 # !!! dont change this if you use docker-compose
BACKEND_SECRET_KEY='secret-key-1234567890abcdefghijklmnopqrstuvwxyz'
BACKEND_DEBUG=0
BACKEND_ALLOWED_HOSTS='["localhost", "127.0.0.1", "0.0.0.0", "backend", "77.106.104.150"]'
CORS_ALLOWED_ORIGINS='["http://localhost:5173", "http://frontend:5173", "http://127.0.0.1:5173", "http://0.0.0.0:5173", "http://77.106.104.150:80", "http://0.0.0.0:80"]'
BACKEND_ACCESS_TOKEN_LIFETIME=15 # in minutes
BACKEND_REFRESH_TOKEN_LIFETIME=7 # in days
BACKEND_REDIS_DATABASE=0