SECRET_KEY='secret-key'
DEBUG=0 # 1 or 0
ALLOWED_HOSTS='["localhost", "127.0.0.1", "0.0.0.0"]'
ACCESS_TOKEN_LIFETIME=15 # in minutes
REFRESH_TOKEN_LIFETIME=7 # in days

POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD='password'
POSTGRESQL_NAME=db-name

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD='password'

CELERY_BROKER_DATABASE=0

TS_HOST=localhost
TS_PORT=8001